{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<section class="produits">

    <h1>Produits</h1>

    <produit>
        <h2>Titre du produit</h2>
        <div class="metadata">Description du produit</div>
            <img src="http://placehold.it/350x350" alt="Text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse scelerisque felis a magna commodo, quis tincidunt felis condimentum.
            Pellentesque tempor tempus arcu. Vestibulum et consequat diam, pellentesque posuere tortor.
            Proin sit amet dignissim lectus. In laoreet elementum augue, vitae laoreet odio aliquet sed.
            Nullam vulputate sodales ante ut ullamcorper. Proin ac pellentesque lectus, id feugiat urna.
            Suspendisse sed laoreet ante. Donec hendrerit vehicula ante, sit amet viverra libero iaculis eget.
            Mauris mattis orci sed lorem tempor, sed pulvinar ipsum interdum.
            Pellentesque vitae posuere tellus, et vehicula mauris.</p>
            <a href="{{ path ('shop_product') }}" class="btn btn-primary">Voir le produit</a>
            <hr>
        </div>
    </produit>

    <produit>
        <h2>Titre du produit</h2>
        <div class="metadata">Description du produit</div>
            <img src="http://placehold.it/350x350" alt="Text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse scelerisque felis a magna commodo, quis tincidunt felis condimentum.
            Pellentesque tempor tempus arcu. Vestibulum et consequat diam, pellentesque posuere tortor.
            Proin sit amet dignissim lectus. In laoreet elementum augue, vitae laoreet odio aliquet sed.
            Nullam vulputate sodales ante ut ullamcorper. Proin ac pellentesque lectus, id feugiat urna.
            Suspendisse sed laoreet ante. Donec hendrerit vehicula ante, sit amet viverra libero iaculis eget.
            Mauris mattis orci sed lorem tempor, sed pulvinar ipsum interdum.
            Pellentesque vitae posuere tellus, et vehicula mauris.</p>
            <a href="{{ path ('shop_product') }}" class="btn btn-primary">Voir le produit</a>
            <hr>
        </div>
    </produit>

</section>

{% endblock %}
