{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<section class="produits">

    <h1>Produits</h1>

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata"><h3>Description du produit</h3>
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }}
                <hr>
            </div>
        </article>
    {% endfor %}

</section>

{% endblock %}
